```{=html}
<% for (const item of items) { %>
<a href="<%- item.path %>">
<h5><%- item.title %></h5>
<p><%- item['reading-time'] %> min</p>
<% if (item.description) { %>
<p><%- item.description %></p>
<% } %>
<span>
<span><%- item.author %></span>
<span><%- item.date %></span>
</span>
</a>
<% } %>
```